Repository sysedwinistrator/terraform-provider-gitlab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go:build, acctest:image, go:test, testacc:ce, testacc:ee

go:build:
  needs: []
  stage: build
  script:
  - make build

acctest:image:
  needs: []
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.2-debug
    entrypoint:
    - ''
  variables:
    TERRAFORM_VERSION: 1.3.4
  before_script:
  ...

go:test:
  stage: test
  script:
  - make test

testacc:ce:
  stage: acceptance-test
  services:
  - docker:23.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2376/
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    GITLAB_BASE_URL: http://docker:8085/api/v4
  ...

testacc:ee:
  stage: acceptance-test
  services:
  - docker:23.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2376/
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    GITLAB_BASE_URL: http://docker:8085/api/v4
  ...

tools/tools: Update module github.com/golangci/golangci-lint to v1.53.2
  tools/go.mod
  tools/go.sum
Due: none

go: Update module github.com/dcarbone/terraform-plugin-framework-utils/v3 to v3.2.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

Resolve "Regression in automatic base64 content encoding in v16"
  docs/guides/version-16.0-upgrade.md
  templates/guides/version-16.0-upgrade.md.tmpl
Due: none

go: Update module github.com/hashicorp/go-retryablehttp to v0.7.4
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update module github.com/onsi/gomega to v1.27.8
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update module github.com/hashicorp/terraform-plugin-framework to v1.3.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

tools/tools: Update module github.com/hashicorp/terraform-plugin-docs to v0.15.0
  tools/go.mod
  tools/go.sum
Due: none

Update gcr.io/kaniko-project/executor Docker tag to v1.11.0
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update module github.com/xanzy/go-gitlab to v0.85.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

Add expiration to PAT generated using rails
  scripts/healthcheck-and-setup.sh
Due: testacc:ce, testacc:ee

Resolve "Documentation: expires_at in gitlab_project_access_token is now required and last at most 365 days"
  docs/guides/version-16.0-upgrade.md
  templates/guides/version-16.0-upgrade.md.tmpl
Due: none

Update docker Docker tag to v24.0.2
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

Increase admin test token expiration to 30 days
  scripts/healthcheck-and-setup.sh
Due: testacc:ce, testacc:ee

go: Update module github.com/dcarbone/terraform-plugin-framework-utils/v3 to v3.3.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

Refine struct verbiage, and start to work on CRUD
  docs/development/CreatingANewResource.md
  templates/development/CreatingANewResource.md.tmpl
Due: none

Initial start of walkthrough (nowhere near done)
  CONTRIBUTING.md
  tutorials/CreatingANewResource.md
Due: none

Move development guide
  templates/development/CreatingANewResource.md.tmpl
Due: none

Run make generate for testing
  docs/development/CreatingANewResource.md
Due: none

Add more details around the schema struct
  docs/development/CreatingANewResource.md
Due: none

Forgot to run make generate
  docs/development/CreatingANewResource.md
Due: none

Finalize documentation
  templates/development/CreatingANewResource.md.tmpl
Due: none

Add more information on the schema blocks
  docs/development/CreatingANewResource.md
Due: none

Fix additional PAT references that need expires_at
  internal/provider/sdk/resource_gitlab_personal_access_tokens_test.go
  internal/provider/sdk/resource_gitlab_project_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update module github.com/hashicorp/terraform-plugin-framework to v1.3.1
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update module github.com/dcarbone/terraform-plugin-framework-utils/v3 to v3.3.1
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

tools/tools: Update module github.com/golangci/golangci-lint to v1.53.3
  tools/go.mod
  tools/go.sum
Due: none

go: Update module github.com/hashicorp/terraform-plugin-go to v0.16.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

tools/tools: Update module mvdan.cc/sh/v3 to v3.7.0
  tools/go.mod
  tools/go.sum
Due: none

Resolve "Nightly Pipeline Build Issue for Pipeline 900451692"
  internal/provider/sdk/resource_gitlab_project_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Added front matter
  docs/development/CreatingANewResource.md
  templates/development/CreatingANewResource.md.tmpl
Due: none

Fix: remove invalid `gitlab_branch_protection.unprotect_access_level` value `"no one"`.
  docs/resources/branch_protection.md
  internal/provider/api/access_level_helpers.go
Due: go:build, go:test, testacc:ce, testacc:ee

Moved deprecation warning to the correct field.
  docs/resources/project.md
  internal/provider/sdk/data_source_gitlab_project.go
  internal/provider/sdk/resource_gitlab_project.go
Due: go:build, go:test, testacc:ce, testacc:ee

Remove hashstructure from ID
  internal/provider/sdk/data_source_gitlab_project_branches.go
  internal/provider/sdk/data_source_gitlab_project_branches_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Update new resource tutorial
  docs/development/CreatingANewResource.md
  templates/development/CreatingANewResource.md.tmpl
Due: none

Draft changelog for 16.1.0
  CHANGELOG.md
Due: none

go: Update module github.com/xanzy/go-gitlab to v0.86.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

Upgrade test matrix for 16.1.0
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update module github.com/dcarbone/terraform-plugin-framework-utils/v3 to v3.3.2
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

feat: add compliance framework resource
  docs/resources/compliance_framework.md
  examples/resources/gitlab_compliance_framework/import.sh
  examples/resources/gitlab_compliance_framework/resource.tf
  internal/provider/api/graphql_helper.go
  internal/provider/resource_gitlab_compliance_framework.go
  internal/provider/resource_gitlab_compliance_framework_test.go
  internal/provider/sdk/data_source_gitlab_current_user.go
  internal/provider/sdk/graphql_helper_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Path conditions:
  go:build: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml
  acctest:image: any of: .gitlab/ci/Dockerfile, .go-version
  go:test: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml
  testacc:ce: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml, docker-compose.yml, GNUmakefile, scripts/await-healthy.sh, scripts/healthcheck-and-setup.sh, scripts/gitlab.rb
  testacc:ee: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml, docker-compose.yml, GNUmakefile, scripts/await-healthy.sh, scripts/healthcheck-and-setup.sh, scripts/gitlab.rb
