Repository sysedwinistrator/terraform-provider-gitlab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go:build, acctest:image, go:test, testacc:ce, testacc:ee

go:build:
  needs: []
  stage: build
  script:
  - make build

acctest:image:
  needs: []
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.2-debug
    entrypoint:
    - ''
  variables:
    TERRAFORM_VERSION: 1.3.4
  before_script:
  ...

go:test:
  stage: test
  script:
  - make test

testacc:ce:
  stage: acceptance-test
  services:
  - docker:23.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2376/
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    GITLAB_BASE_URL: http://docker:8085/api/v4
  ...

testacc:ee:
  stage: acceptance-test
  services:
  - docker:23.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2376/
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    GITLAB_BASE_URL: http://docker:8085/api/v4
  ...

Resolve "Rename `group_id` attributes to `group`"
  docs/resources/group_ldap_link.md
  internal/provider/sdk/resource_gitlab_group_ldap_link.go
  internal/provider/sdk/resource_gitlab_group_ldap_link_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Update docker Docker tag to v23.0.6
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

Update alpine Docker tag to v3.18
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

go: Update github.com/hashicorp/go-cty digest to 8598007
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

tools/tools: Update module github.com/golangci/golangci-lint to v1.52.2
  tools/go.mod
  tools/go.sum
Due: none

tools/tools: Update module github.com/hashicorp/terraform-plugin-docs to v0.14.1
  tools/go.mod
  tools/go.sum
Due: none

tools/tools: Update module mvdan.cc/sh/v3 to v3.6.0
  tools/go.mod
  tools/go.sum
Due: none

tools/tools: Update module github.com/bflad/tfproviderlint to v0.29.0
  tools/go.mod
  tools/go.sum
Due: none

Remove operations_access_level
  docs/data-sources/project.md
  docs/data-sources/projects.md
  docs/resources/project.md
  internal/provider/sdk/data_source_gitlab_project.go
  internal/provider/sdk/data_source_gitlab_projects.go
  internal/provider/sdk/resource_gitlab_project.go
  internal/provider/sdk/resource_gitlab_project_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Account for default and max-aged PAT expiration dates in acc tests
  internal/provider/sdk/resource_gitlab_group_access_token_test.go
  internal/provider/sdk/resource_gitlab_project_access_token_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Fix typo in 15.7 upgrade guide docs
  docs/guides/version-15.7-upgrade.md
  templates/guides/version-15.7-upgrade.md.tmpl
Due: none

Change id format for pipeline trigger and schedule resources
  docs/resources/pipeline_schedule.md
  docs/resources/pipeline_trigger.md
  internal/provider/sdk/resource_gitlab_pipeline_schedule.go
  internal/provider/sdk/resource_gitlab_pipeline_schedule_test.go
  internal/provider/sdk/resource_gitlab_pipeline_schedule_variable_test.go
  internal/provider/sdk/resource_gitlab_pipeline_trigger.go
  internal/provider/sdk/resource_gitlab_pipeline_trigger_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Resolve "Rename `project_id` attributes to `project`"
  docs/resources/project_freeze_period.md
  docs/resources/project_level_mr_approvals.md
  docs/resources/project_membership.md
  docs/resources/project_share_group.md
  examples/resources/gitlab_project_freeze_period/resource.tf
  examples/resources/gitlab_project_level_mr_approvals/resource.tf
  examples/resources/gitlab_project_membership/resource.tf
  examples/resources/gitlab_project_share_group/resource.tf
  internal/provider/sdk/resource_gitlab_project_freeze_period.go
  internal/provider/sdk/resource_gitlab_project_freeze_period_test.go
  internal/provider/sdk/resource_gitlab_project_level_mr_approvals.go
  internal/provider/sdk/resource_gitlab_project_level_mr_approvals_test.go
  internal/provider/sdk/resource_gitlab_project_membership.go
  internal/provider/sdk/resource_gitlab_project_membership_test.go
  internal/provider/sdk/resource_gitlab_project_share_group.go
  internal/provider/sdk/resource_gitlab_project_share_group_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Update docker Docker tag to v24
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

Configure testing instance to allow git imports
  scripts/await-healthy.sh
Due: testacc:ce, testacc:ee

Make token expiration date required
  docs/resources/project_access_token.md
  internal/provider/sdk/resource_gitlab_project_access_token.go
  internal/provider/sdk/resource_gitlab_project_access_token_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Draft release changelog for 16.0
  CHANGELOG.md
Due: none

go: Update module github.com/onsi/gomega to v1.27.7
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

Upgrade test matrix for 16.0
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

Document upgrade guide for 16.0
  docs/guides/version-16.0-upgrade.md
  templates/guides/version-16.0-upgrade.md.tmpl
Due: none

Add state migration for project_variable
  internal/provider/sdk/resource_gitlab_project_variable.go
  internal/provider/sdk/resource_gitlab_project_variable_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Fix state migrations of v16.0.0
  docs/resources/label.md
  internal/provider/sdk/resource_gitlab_deploy_token.go
  internal/provider/sdk/resource_gitlab_group_ldap_link.go
  internal/provider/sdk/resource_gitlab_pipeline_schedule_variable.go
  internal/provider/sdk/resource_gitlab_pipeline_schedule_variable_test.go
  internal/provider/sdk/resource_gitlab_project_freeze_period.go
  internal/provider/sdk/resource_gitlab_project_label.go
  internal/provider/sdk/resource_gitlab_project_level_mr_approvals.go
  internal/provider/sdk/resource_gitlab_project_membership.go
  internal/provider/sdk/resource_gitlab_project_share_group.go
Due: go:build, go:test, testacc:ce, testacc:ee

Fix expiration default for access token resources
  docs/resources/group_access_token.md
  docs/resources/personal_access_token.md
  docs/resources/project_access_token.md
  internal/provider/sdk/resource_gitlab_group_access_token.go
  internal/provider/sdk/resource_gitlab_personal_access_tokens.go
  internal/provider/sdk/resource_gitlab_project_access_token.go
Due: go:build, go:test, testacc:ce, testacc:ee

Changelog for 16.0.1
  CHANGELOG.md
Due: none

Fix upgrading from 16.0
  CHANGELOG.md
  internal/provider/sdk/resource_gitlab_project_freeze_period.go
  internal/provider/sdk/resource_gitlab_project_level_mr_approvals.go
  internal/provider/sdk/resource_gitlab_project_membership.go
  internal/provider/sdk/resource_gitlab_project_share_group.go
Due: go:build, go:test, testacc:ce, testacc:ee

Adding support for alternative container engines/composition for acc testing
  GNUmakefile
  docker-compose.yml
  scripts/await-healthy.sh
Due: testacc:ce, testacc:ee

Fix gofmt issue
  internal/provider/sdk/resource_gitlab_deploy_token_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Skip ldap acc tests for CE
  internal/provider/sdk/resource_gitlab_group_ldap_link_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Changelog for v16.0.3
  CHANGELOG.md
  docs/guides/version-16.0-upgrade.md
  templates/guides/version-16.0-upgrade.md.tmpl
Due: none

Documenting support for alternative container engines
  CONTRIBUTING.md
Due: none

add allowed_to_create option to tag protection resource
  docs/resources/tag_protection.md
  examples/resources/gitlab_tag_protection/resource.tf
  internal/provider/sdk/resource_gitlab_tag_protection.go
  internal/provider/sdk/resource_gitlab_tag_protection_test.go
  internal/provider/testutil/helpers.go
Due: go:build, go:test, testacc:ce, testacc:ee

Update gcr.io/kaniko-project/executor Docker tag to v1.10.0
  .gitlab-ci.yml
Due: go:build, go:test, testacc:ce, testacc:ee

Fix deploy_key_enable example
  docs/guides/version-16.0-upgrade.md
  docs/resources/deploy_key_enable.md
  docs/resources/pipeline_schedule_variable.md
  examples/resources/gitlab_deploy_key_enable/resource.tf
  examples/resources/gitlab_pipeline_schedule_variable/resource.tf
  templates/guides/version-16.0-upgrade.md.tmpl
Due: none

go: Update module github.com/hashicorp/terraform-plugin-log to v0.9.0
  go.mod
  go.sum
Due: go:build, go:test, testacc:ce, testacc:ee

Fix gitlab_deploy_token.username during resource creation
  internal/provider/sdk/resource_gitlab_deploy_token.go
  internal/provider/sdk/resource_gitlab_deploy_token_test.go
Due: go:build, go:test, testacc:ce, testacc:ee

Upgrading to go-gitlab 0.84.0
  go.mod
  go.sum
  internal/provider/sdk/resource_gitlab_project_environment.go
  internal/provider/testutil/helpers.go
Due: go:build, go:test, testacc:ce, testacc:ee

tools/tools: Update module github.com/golangci/golangci-lint to v1.53.0
  tools/go.mod
  tools/go.sum
Due: none

tools/tools: Update module golang.org/x/tools to v0.9.3
  tools/go.mod
  tools/go.sum
Due: none

tools/tools: Update module github.com/golangci/golangci-lint to v1.53.1
  tools/go.mod
  tools/go.sum
Due: none

Path conditions:
  go:build: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml
  acctest:image: any of: .gitlab/ci/Dockerfile, .go-version
  go:test: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml
  testacc:ce: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml, docker-compose.yml, GNUmakefile, scripts/await-healthy.sh, scripts/healthcheck-and-setup.sh, scripts/gitlab.rb
  testacc:ee: any of: **/*.go, go.mod, go.sum, .gitlab-ci.yml, docker-compose.yml, GNUmakefile, scripts/await-healthy.sh, scripts/healthcheck-and-setup.sh, scripts/gitlab.rb
